[Unit]
Description=Start HeadLight Meter Test Unit Server
After=network.target

[Service]
Type=simple
ExecStart=/home/dev/hlm_web/run_dev.sh
Restart=on-failure
User=dev
WorkingDirectory=/home/dev/hlm_web

[Install]
WantedBy=multi-user.target